
@{
    ViewBag.Title = "Final";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<style>
    .tamaño {
        width: 350px;
        height: 350px;
        display: block;
        margin: auto;
    }
</style>
<section>
    <h2>   FELICITACIONES   </h2>
    <img class="tamaño" src="~/Imagenes/pago.jpg" /> <h4>MONTO CANCELADO: s/ @ViewBag.mt</h4>
    <h2>   MUCHAS GRACIAS POR SU COMPRA   </h2>
    <br />
    <br />
    <br />
    <br />
</section>
